.about {
    background-color: $bg-sec;
    color: #fff;
}

.about h2 {
    font-size: 35px;
    font-weight: bold;
}

.about .container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about .container p {
    font-size: 20px;
    width: 100%;
    font-weight: lighter;
    text-align: left;
}
