.about {
    background-color: $bg-sec;
    color: #fff;
}

.about h2 {
    font-size: 2.3rem;
    font-weight: $font-weight-semibold;
    white-space: nowrap;
}

.about .container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about .container p {
    font-size: 1rem;
    width: 100%;
    font-weight: $font-weight-normal;
    letter-spacing: .4px;
    text-align: left;
}

.welcome-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
    padding-top: 1.5rem;

    #why-btn:hover,
    #culture-btn:hover {
        background-color: rgba($color: #1b1b1b, $alpha: 100%);
    }

    #why-btn {
        @include about-buttons;
    }

    #culture-btn {
        @include about-buttons;
    }   
}

.stars {
    display: flex;
    flex-direction: row;
    margin: 10px 15px 25px 4px;
    gap: 3px;
    color: orange;
    fill: currentColor;

    svg {
        width: 50px;
        height: 50px;
    }
}

#quote-comp {
    color: #fff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.about blockquote {
    font-size: 1.3rem;
    font-weight: $font-weight-semibold;
    font-style: italic;
    letter-spacing: .4px;
    margin: 0;
}

.about cite {
    font-size: 1.15rem;
    font-weight: $font-weight-semibold;
    font-style: normal;
    padding-top: 20px;
}

#quote-name {
    color: rgb(170, 170, 170);
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
    padding-left: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;


    #google-rev {
        padding: 16px 25px;
        font-size: 1.2rem;
        color: white;
        background-color: #4387f6;
        border-radius: 6px;
        border: none;

        &:hover {
            background-color: #3970c7;
        }
    }

    #trust-rev {
        padding: 16px 25px;
        font-size: 1.2rem;
        color: white;
        background-color: #00b67b;
        border-radius: 6px;
        border: none;

        &:hover {
            background-color: #019264;
        }
    }
}

.arrow {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-left: 8px;
    vertical-align: middle;
    fill: currentColor;
}


@media (min-width: $breakpoint-xl) {
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 0 350px;

        .container {
            grid-column: 1 / 2;

        }

        .what-clients-think {
            grid-column: 2 / 3;

        }

        blockquote {
                padding-bottom: 30px;
            }

        .buttons {
            display: grid;
            grid-template-columns: 258px 1fr;
            grid-template-rows: 1fr;
            gap: 10px;

            a {
                display: block;
            }

            #google-rev {
                grid-column: 1 / 2;
            }

            #trust-rev {
                grid-column: 2 / 3;
            }

        }

        .welcome-btn {
            display: grid;
            grid-template-columns: 258px 1fr;
            grid-template-rows: 1fr;
            gap: 10px;

            #why-btn {
                grid-column: 1 / 2;
            }

            #culture-btn {
                grid-column: 2 / 3
            }
        }
    }




}
