.banner {
    min-height: 550px;
    background:
    linear-gradient(
        90deg,
        rgb(0 0 0 / 90%) 0,
        rgb(0 0 0 / 75%) 35em,
        rgb(0 0 0 / 0%) 50em
    ),
    url("../img/building.jpeg") center / cover;
    // background-blend-mode: multiply;
}

.banner .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6em;
}

.banner .container h2 {
    font-size: 40px;
    font-weight: $font-weight-semibold;
    color: white;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.container p {
    font-size: 20px;
    font-weight: $font-weight-medium;
    color: white;
    width: 75%;
    text-align: center;
}

.banner .container button {
    padding: 18px 25px;
    font-size: large;
    color: white;
    background-color: #926fb1;
    border-radius: 4px;
    border: none;

    .arrow {
        width: 22px;
        height: 22px;
        margin-left: 10px;
        fill: currentColor;
        vertical-align: middle;
    }
}

.arrow {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-left: 8px;
    vertical-align: middle;
    fill: currentColor;
}


@media (min-width: $breakpoint-l) {
    .banner {
        align-items: flex-start;

        .container {
            display: flex;

            align-items: start;
            height: 500px;
            justify-content: center;
            padding-right: 50px;
            padding-bottom: 25px;

            h2 {
                text-align: left;
                font-size: 65px;
                line-height: 1.2;
            }

            p {
                text-align: left;
                font-size: 25px;
                font-weight: $font-weight-semibold;
                padding-bottom: 10px;
            }
        }


    }
}
