.header-top{
    display: grid;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) auto auto;
    grid-template-rows: auto auto;
    padding: 2%;
    margin-top: 25px;

    #header-logo {
        grid-column: 1;
        grid-row: 1;
        min-width: 0;
    }

    #contact {
        grid-column: 2;
        grid-row: 1;
    }

    #side-nav {
        grid-column: 3;
        grid-row: 1;
    }

    #contact {
        padding: 0 9px;

        a {
            width: 40px;
            padding: 0;
            justify-content: center;
        }
    }

    a {
        display: flex;
        align-items: center;
        width: 68px;
        height: 54px;
        padding:0 10px;
        color: $font-sec;

        svg {
            width: 28px;
            height: 28px;
            fill: currentColor;

            &:hover {
                border-bottom: solid 1px $bg-sec;
            }
        }

    }

    #support {
        display: none;
    }

    #contact-2 {
        display: none;
    }

    #search-btn {
        display: none;
    }

    #nav-toggle {
        display: none;
    }

    .hamburger {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        cursor: pointer;
        width: 60px;
        height: 55px;
        background-color: $bg-sec;
        border-radius: 4px;

        &:hover {
            background-color: #1a1e30;
        }
    }

    .hamburger svg {
        display: block;
        width: 40px;
        height: 32px;
        fill: white;
    }

    .search{
        display: flex;
        grid-column: 1 / -1;
        grid-row: 2;
        padding: em(15px) 0 em(4px) 0;

        #search-bar {
            display: block;
            box-sizing: border-box;
            flex: 1 1 auto;
            padding: 13px;
            background-color: rgb(228, 228, 228);
            border: solid 2px rgb(202, 202, 202) ;
            border-right: none;
            font-weight: $font-weight-semibold;
            z-index: 1;
        }

        button {
            display: absolute;
            z-index: 3;
            background-color: rgb(228, 228, 228);
            border: solid 2px rgb(202, 202, 202) ;
            border-left: none;

            svg {
                height: 30px;
                width: 30px;
            }
        }
    }


    #header-logo {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        img {
            padding-left: 10px;
            width: min(21em, 100%);
        }
    }

}

.main-nav {
    position: relative;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $bg-sec;

    .dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 30px 15px;
        grid-template-columns: repeat(3, 1fr);
        z-index: 10;

        .drop-header {
            grid-column: 1 / -1;
        }

        .drop-header {
            font-size: 35px;
            font-weight: $font-weight-medium;
            color: white;
            margin: 10px 0;
        }

        a {
            display: block;
            padding: 10px 15px;
            font-size: 20px;
            font-weight: $font-weight-medium;
            color: white;
            text-decoration: none;
            margin: 0;

            &:hover,
            &:focus {
                text-decoration: underline;
                background-color: inherit;
            }
        }
    }

    .dropdown-item {
        display: flex;
        align-items: center;

        svg {
            flex: 0 0 20px;
            width: 20px;
            height: 20px;
            fill: white;
        }

        a {
            flex: 1;
        }
    }

    .nav-item:hover .dropdown {
        display: grid;
    }

    .nav-item > button {
        position: relative;
    }

    .nav-item:hover > button::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 30.0935px;
        background-color: #3498db;
        clip-path: polygon(0 0, 100% 0, 50% 100%);
        z-index: 11;
        pointer-events: none;
    }

    .nav-con-dev:hover > button::after,
    .nav-con-dev:focus-within > button::after { background-color: #67809F; }
    .nav-it-support:hover > button::after,
    .nav-it-support:focus-within > button::after { background-color: #4183D7; }
    .nav-marketing:hover > button::after,
    .nav-marketing:focus-within > button::after { background-color: #2ECC71; }
    .nav-telecoms:hover > button::after,
    .nav-telecoms:focus-within > button::after { background-color: #D64541; }
    .nav-design:hover > button::after,
    .nav-design:focus-within > button::after { background-color: #926FB1; }
    .nav-cyber:hover > button::after,
    .nav-cyber:focus-within > button::after { background-color: #F62459; }
    .nav-developer:hover > button::after,
    .nav-developer:focus-within > button::after { background-color: #CE4125; }

    .nav-con-dev .dropdown { background-color: #526883; }
    .nav-it-support .dropdown { background-color: #3770b9; }
    .nav-marketing .dropdown { background-color: #239e57; }
    .nav-telecoms .dropdown { background-color: #922f2c; }
    .nav-design .dropdown { background-color: #6f5486; }
    .nav-cyber .dropdown { background-color: #c21b45; }
    .nav-developer .dropdown { background-color: #99301b; }

    .nav-con-dev:hover > button { background-color: #67809F; }
    .nav-it-support:hover > button { background-color: #4183D7; }
    .nav-marketing:hover > button { background-color: #2ECC71; }
    .nav-telecoms:hover > button { background-color: #D64541; }
    .nav-design:hover > button { background-color: #926FB1; }
    .nav-cyber:hover > button { background-color: #F62459; }
    .nav-developer:hover > button { background-color: #CE4125; }

    .nav-con-dev:hover > #nav-con-dev svg,
    .nav-it-support:hover > #nav-it-support svg,
    .nav-marketing:hover > #nav-marketing svg,
    .nav-telecoms:hover > #nav-telecoms svg,
    .nav-design:hover > #nav-design svg,
    .nav-cyber:hover > #nav-cyber svg,
    .nav-developer:hover > #nav-developer svg {
        fill: white;
    }

    button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 140px;
        height: 99px;
        border: none;
        background-color: $bg-sec;

        svg {
            width: 25px;
            height: 25px;
            margin: 10px 0;
        }

        h3 {
            margin: 0;
            font-weight: $font-weight-medium;
            line-height: 1;
        }

        #top-words {
            font-size: 11px;
        }

        #bottom-words {
            font-size: 18px;
            padding-bottom: 10px;
        }

    }

        

    #nav-con-dev {
        @include nav-button(#67809F);
    }

    #nav-it-support {
        @include nav-button(#4183D7);
    }

    #nav-marketing {
        @include nav-button(#2ECC71);
    }

    #nav-telecoms {
        @include nav-button(#D64541);
    }

    #nav-design {
        @include nav-button(#926FB1);
    }

    #nav-cyber {
        @include nav-button(#F62459);
    }

    #nav-developer {
        @include nav-button(#CE4125);
    }
}


@media (min-width: $breakpoint-m) {
    .header-top {
        margin: 0;
        padding: 20px clamp(2%, calc((100vw - 700px) / 2), 3%);
        display: grid;
        grid-template-columns: minmax(0, 1fr) 174px 70px 70px;
        grid-template-rows: 1fr;

        #side-nav {
            margin-left: auto;
            grid-column: 4 / 5;
            grid-row: auto;
        }

        #contact {
            display: none;
        }


        button {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            padding: 13px 15px;
        }

        .search {
            display: flex;
            grid-column: 2 / 3;
            grid-row: 1;
            width: calc(100% + 4px);
            min-width: 0;
            min-height: 55px;
            padding-right: 0;
            z-index: 1;
            background-color: white;
            padding: 0;

            #search-bar {
                min-width: 0;
                background-color: white;
                border: solid 1px #c8c8c9;

                &:focus {
                    outline: none;
                    border-color: #4183D7;
                    box-shadow: 0 0 8px rgba(0, 195, 255, 0.45);
                }
            }

            button {
                display: none;
            }
        }

        #search-btn {
            display: block;
            grid-column: 3 / 4;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                height: 55px;
                padding: 0;
                background-color: #999AA2;
                border: none;
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    background-color: #77787e;
                }
            }

            svg {
                width: 28px;
                height: 28px;
                fill: white;
            }
        }

        #header-logo img {
            width: 24em;
        }
    }

    .main-nav {
        display: none;
    }
}

@media (min-width: $breakpoint-l) {
    .header-top {
        margin: 0;
        padding: 20px clamp(2%, calc((100vw - 884px) / 2), 3%);
        display: grid;
        grid-template-columns: minmax(0, 1fr) em(180px) em(180px) em(70px) em(70px);
        grid-template-rows: 1fr;

        #side-nav {
            margin-left: auto;
            grid-column: 5 / 6;
            grid-row: auto;
        }

        #contact {
            display: none;
        }

        #support {
            display: inline-flex;
            margin-left: auto;
            grid-column: 2 / 3;
            grid-row: auto;

            a {
                width: auto;
                height: auto;
                padding: 0;
                color: $font-sec;
                text-decoration: none;
            }

            svg {
                width: 28px;
                height: 28px;
                fill: currentColor;
            }
        }

        #contact-2 {
            display: inline-flex;
            margin-left: 1rem;
            grid-column: 3 / 4;
            grid-row: auto;

            a {
                width: auto;
                height: auto;
                padding: 0;
                color: $font-sec;
                text-decoration: none;
            }
        }

        #support a:hover,
        #contact-2 a:hover {
            text-decoration: none;
        }

        #support a svg:hover,
        #contact-2 a svg:hover {
            border-bottom: none;
        }

        button {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            padding: 13px 15px;
        }

        #support button {
            background-color: #4183D7;
            color: white;
            font-size: 18px;
            font-weight: $font-weight-normal;
            border: none;
            border-radius: 4px;

            &:hover {
                background-color: #3970C7;
            }
        }

        #contact-2 button {
            background-color: #999AA2;
            color: white;
            font-size: 18px;
            font-weight: $font-weight-normal;
            border: none;
            border-radius: 4px;

            &:hover {
                background-color: #85868D;
            }
        }

        .search {
            display: none;
        }

        #search-btn {
            display: block;
            grid-column: 4 / 5;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 60px;
                height: 55px;
                padding: 0;
                background-color: #999AA2;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

            svg {
                width: 28px;
                height: 28px;
                fill: white;
            }
        }

        #header-logo img {
            width: 24em;
        }
    }

    .main-nav {
        display: flex;
        padding: 0 clamp(0px, calc((100vw - 980px) / 2), 10%);
    }

    .main-nav .dropdown {
        padding: 30px clamp(0px, calc((100vw - 980px) / 2), 10%);
    }
}

@media (min-width: $breakpoint-xl) {
    .header-top {
        grid-template-columns: 1fr em(180px) em(180px) em(290px) em(70px) em(70px);
        padding: 20px clamp(2%, calc((100vw - 1220px) / 2), 18%);
        
        #side-nav {
            grid-column: 6 / 7;
        }

        .search {
            display: flex;
            grid-column: 4 / 5;
            grid-row: 1 / 2;
            align-self: center;
            min-width: 0;
            min-height: 55px;
            padding-bottom: 0;
            padding-right: 0;
            margin-right: -4px;
            z-index: 1;
            background-color: white;

            #search-bar {
                background-color: white;
                border: solid 1px #c8c8c9;

                &:focus {
                    outline: none;
                    border-color: #4183D7;
                    box-shadow: 0 0 8px rgba(0, 195, 255, 0.45);
                }
            }
        }

        #search-btn {
            grid-column: 5 / 6;
        }

    }

    .main-nav {
        padding: 0 2%;

        button {
            width: 170px;
            flex-shrink: 0;
        }
    }

    .main-nav .dropdown {
        padding: 30px clamp(2%, calc((100vw - 1220px) / 2), 18%);
    }
}


