body {
    margin: 0;
    font-family: $font-family-sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: $breakpoint-m) {
        width: 750px;
    }

    @media (min-width: $breakpoint-l) {
        width: 970px;
    }

    @media (min-width: $breakpoint-xl) {
        width: 1200px;
    }
}   